<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Django Forms</title>
</head>
<body>

<body>

<h6>Руководство по языку программирования Python</h6>

<h2>Сравните две программы:</h2>

<table border="3">
<tr>
<td><p>program1 </p></td>
<td><p>program2 </p></td>
</tr>

<tr>
{% for person in remembrancies %}
<td><pre><p>{{person.riddle_text1}} </p></pre></td>
<td><pre><p>{{person.riddle_text2}} </p></pre></td>
{% endfor %} 
</tr>
</table>

<h2>Выберите правильные ответы на вопросы:</h2>


<form action="{% url 'self_control:home_post' %}" method="post">
    {% csrf_token %}


<table border="1">
<tr>
<td><p>Работоспособны ли обе программы?</p></td>
<td><p><input type="checkbox" name="both_able_lucubrate_properly" /> <label > Да</label></p></td>
<td><p><input type="checkbox" name="not_able" /> <label > Нет</label></p></td>
</tr>

<tr>
<td><p>Если да, то будет ли их вывод одинаков? </p></td>
<td><p><input type="checkbox" name="output_same" /> <label > Да</label></p></td>
<td><p><input type="checkbox" name="output_not_same" /> <label > Нет</label></p></td>
</tr>

<tr>
<td><p>В какой из программ применён метод именованных аргументов?  </p></td>
<td><p><input type="checkbox" name="program1" /> <label > program1</label></p></td>
<td><p><input type="checkbox" name="program2" /> <label > program2</label></p></td>
</tr>

</table>
<input type="submit" value="Ответ готов" />
</form>

<h6>Источник:</h6>
<table border="1">
<tr>
<td><p>Ресурс </p></td>
<td><p>Руководство по языку программирования Python </p></td>
<td><p>https://metanit.com/python/tutorial/ </p></td>
</tr>

<tr>
<td><p>Глава </p></td>
<td><p>2. Основы Python </p></td>
</tr>


<tr>
<td><p>Раздел</p></td>
<td><p>Функции</p></td>
<td><p>https://metanit.com/python/tutorial/2.8.php
</tr>

<tr>
<td><p>Тема </p></td>
<td><p>Именованные параметры </p></td>
</tr>
</table>

</body>
</html>
